<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>

    <h1>Cadastro de Usuário</h1>

    <form method="post" action="{{ url_for('cadastro') }}">
        <p>
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" required>
        </p>

        <p>
            <label for="email">E-mail:</label><br>
            <input type="email" id="email" name="email" required>
        </p>

        <p>
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" required>
        </p>

        <p>
            <label for="perfil_id">Perfil de Acesso:</label><br>
            <select name="perfil_id" id="perfil_id" required>
                <option value="">Selecione um perfil...</option>
                {% for perfil in perfis %}
                    <option value="{{ perfil.id }}">{{ perfil.nome_perfil }}</option>
                {% endfor %}
            </select>
        </p>

        <button type="submit">Cadastrar</button>
    </form>
    <a href="{{ url_for('login') }}">Ir para login</a>

</body>
</html>