<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form action="{{ url_for('login') }}" method="post">
        <p>
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" required>
        </p>

        <p>
            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" required>
        </p>

        <button type="submit">Entrar</button>
    </form>
    <a href="{{ url_for('cadastro') }}">Criar uma conta</a>

</body>
</html>