{% extends "base.html" %}

{% block conteudo %}

<div class="caixaForm">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alerta-flash">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="POST">
        <input type="nome" name="nome" id="nome" placeholder="Digite seu nome" required>
        <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>

        <button type="submit">Entrar</button>
    </form>
</div>
</div>
{% endblock %}